//color pallette

/* HSL */
$hcolor1: hsla(202%, 66%, 39%, 1);
$hcolor2: hsla(178%, 50%, 47%, 1);
$hcolor3: hsla(30%, 16%, 87%, 1);
$hcolor4: hsla(36%, 49%, 67%, 1);
$hcolor5: hsla(357%, 42%, 58%, 1);

/* RGB */
$color1: rgba(34, 116, 165, 1);
$color2: rgba(72, 169, 166, 1);
$color3: rgba(228, 223, 218, 1);
$color4: rgba(212, 180, 131, 1);
$color5: rgba(193, 102, 107, 1);
$color6: rgba(0,0,0,.4);

//icon variables
$icon-size: 2em;

//navbar variables
$brand_size: 3%;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color1
}



/* NAVBAR STYLING */

//logo styling
.navbar-brand {
  width: $brand_size;
}

//search bar styling

input {
  &[type="search"] {
    background-color: $color6;
  }
}

#search::placeholder {
  color: $color3;
}

#search:focus {
  color: black;
}

/* ICON STYLING */

.fas {
  color: $color3;
  font-size: $icon-size
}

.fas.fa-sticky-note {
  color: $color4;
}

/* HORIZONTAL RULE STYLING */

.horizontal-rule {
  background-color: $color3;
}

/* CARD STYLING */

.card {
  min-height: 20vh;

  .card-header, .card-footer {
    background-color: white !important;
  }

  .card-title {
    min-height: 26%;
  }

  .card-body-text {
    min-height: 17%;
  }
  .tag-button {
    background: none;
	  border: none;
	  padding: 0;
	  font-family: inherit;
	  cursor: pointer;
  	outline: inherit;
  }
}

/* SUBMIT POST STYLING */

#post-tabs {
  .nav-item {
    width: 13%;
  }
}
