<form action="/users/signup" method="post">
  <input type="text" name="fname" placeholder="First Name">
  <input type="text" name="lname" placeholder="Last Name">
  <input type="email" name="email" placeholder="john.doe@email.com">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up">
</form>

<form action="/users/login" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>
