<nav class="navbar navbar-light navbar-expand-lg ">
  <a class="navbar-brand" href="/">
      <img src="/img/logo.png" class="img-fluid d-inline-block align-top" alt="">
  </a>
  <form class="w-50" action="/search" method="post">
    <div  class="form-group mb-0">
      <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search Rumblr" aria-label="Search">
    </div>
  </form>
</nav>

<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <form action="/users/signup" method="post">
      <input type="text" name="fname" placeholder="First Name">
      <input type="text" name="lname" placeholder="Last Name">
      <input type="email" name="email" placeholder="john.doe@email.com">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign Up">
    </form>

    <form action="/users/login" method="post">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
  </div>
</div>
