<nav class="navbar navbar-light navbar-expand-lg ">
  <a class="navbar-brand ml-2" href="/">
      <img src="/img/logo.png" class="img-fluid d-inline-block align-top" alt="">
  </a>
  <form class="w-50" action="/search" method="post">
    <div  class="form-group mb-0">
      <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search Rumblr" aria-label="Search">
    </div>
  </form>
  <div class="navbar-nav ml-auto mr-2">
    <a href="/" class="nav-item nav-link"><i class="fas fa-home"></i></a>
    <!-- <a href="#" class="dropdown dropdown-toggle nav-item nav-link" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    </a> -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <form class="dropdown-item" action="/users/logout" method="post">
            <button type="submit" class="btn dropdown-item">Logout</button>
          </form>
          <div class="dropdown-divider"></div>
          <form class="dropdown-item" action="/users/delete" method="post">
            <button type="submit" class="btn dropdown-item">Delete Account</button>
          </form>
        </div>
      </li>
    <a href="" class="nav-item nav-link"><i class="fas fa-sticky-note"></i></a>
  </div>
</nav>
<hr class="horizontal-rule mt-0">
