<%= erb :nav%>
<<form action="/articles/new" method="post">
  <input type="text" name="title" placeholder="A Fancy Title">
  <input type="textarea" name="post-body" placeholder="Exercise your freedom of speech">
  <<input type="text" name="tags" value="" placeholder="#tags">
</form>
<h1>This is the dash</h1>
