<div class="row">
  <div class="col-sm-6 mx-auto mb-4">
    <div class="card border border-dark rounded">
      <div class="card-header font-weight-bold">
        <%="#{@user.fname} #{@user.lname}"%>
      </div>
      <div class="card-body">
        <h2 class="card-title mb-0"><%=@postcard.title%></h2>
        <p class="card-text"><%=@postcard.body%></p>
      </div>
    </div>
  </div>
</div>
